In [30]:
import requests

url = "https://onesignal.com/api/v1/players/csv_export"

querystring = {"app_id":"app_id"}

payload = "{\"extra_fields\": [\"location\", \"rooted\"], \"last_active_since\": \"1469392779\"}"
headers = {
    'authorization': "Basic auth_key",
    'content-type': "application/json",
    'cache-control': "no-cache",
    }

res = requests.request("POST", url, data=payload, headers=headers, params=querystring)
print(res.status_code)

200

In [25]:
dl_url = res.json()['csv_file_url']
print(dl_url)

https://onesignal.s3.amazonaws.com/csv_exports/576212d6-7e2d-4130-8684-30cc7dd0d09f/users_755d842140314a5851ffcb7aac1d6bdc_2017-09-19.csv.gz

In [ ]:
# Add methods to download, unzip and read csv into df, instead of reading off local folder

In [35]:
df = pd.read_csv('onesignaldata.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35916 entries, 0 to 35915
Data columns (total 20 columns):
id                    35916 non-null object
identifier            35161 non-null object
session_count         35916 non-null int64
language              35916 non-null object
timezone              35916 non-null int64
game_version          35916 non-null int64
device_os             35916 non-null object
device_type           35916 non-null int64
device_model          35916 non-null object
ad_id                 35916 non-null object
tags                  35795 non-null object
last_active           35916 non-null object
playtime              35916 non-null int64
amount_spent          35916 non-null float64
created_at            35916 non-null object
invalid_identifier    35916 non-null object
badge_count           35916 non-null int64
lat                   2 non-null float64
lon                   2 non-null float64
rooted                35916 non-null object
dtypes: float64(3), int64(6), object(11)
memory usage: 5.5+ MB

In [36]:
 df.last_active.head()

0    2016-09-12 16:12:34.373379
1    2016-08-21 04:31:20.030957
2    2016-09-12 16:46:29.298499
3    2016-08-16 06:08:33.867738
4    2016-09-20 14:14:38.002525
Name: last_active, dtype: object

In [39]:
df.created_at.min()

'2016-03-16 09:12:24.698643'

In [55]:
df1 = df.loc[df.invalid_identifier == 'f'].loc[ df.session_count >= 1]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25460 entries, 1 to 35914
Data columns (total 20 columns):
id                    25460 non-null object
identifier            25460 non-null object
session_count         25460 non-null int64
language              25460 non-null object
timezone              25460 non-null int64
game_version          25460 non-null int64
device_os             25460 non-null object
device_type           25460 non-null int64
device_model          25460 non-null object
ad_id                 25460 non-null object
tags                  25408 non-null object
last_active           25460 non-null object
playtime              25460 non-null int64
amount_spent          25460 non-null float64
created_at            25460 non-null object
invalid_identifier    25460 non-null object
badge_count           25460 non-null int64
lat                   1 non-null float64
lon                   1 non-null float64
rooted                25460 non-null object
dtypes: float64(3), int64(6), object(11)
memory usage: 4.1+ MB

In [62]:
df1.loc[df1.duplicated('id') == True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 20 columns):
id                    0 non-null object
identifier            0 non-null object
session_count         0 non-null int64
language              0 non-null object
timezone              0 non-null int64
game_version          0 non-null int64
device_os             0 non-null object
device_type           0 non-null int64
device_model          0 non-null object
ad_id                 0 non-null object
tags                  0 non-null object
last_active           0 non-null object
playtime              0 non-null int64
amount_spent          0 non-null float64
created_at            0 non-null object
invalid_identifier    0 non-null object
badge_count           0 non-null int64
lat                   0 non-null float64
lon                   0 non-null float64
rooted                0 non-null object
dtypes: float64(3), int64(6), object(11)
memory usage: 0.0+ bytes

In [64]:
df1.head(3)

,id,identifier,session_count,language,timezone,game_version,device_os,device_type,device_model,ad_id,tags,last_active,playtime,amount_spent,created_at,invalid_identifier,badge_count,lat,lon,rooted
1,0f5426a3-ba07-42a1-99f9-a0059ceee1d7,5d7a284a1a7d58168de06fb11c80c244d204f06af6dfdd...,2,en,28800,99,9.2.1,0,"iPad2,7",6F21B77D-1372-4E26-A927-EF66EEA566A8,"""userId""=>""212464"", ""LoggedIn""=>""1"", ""deviceId...",2016-08-21 04:31:20.030957,67,0.0,2016-08-21 04:30:16.480636,f,0,NaN,NaN,f
2,0456855c-bf10-470b-88e0-c7dc8b072acf,6eeea78923cf4d8590c39cabda66c9cd50822dc200bf72...,2,en,28800,99,9.3.5,0,"iPhone7,1",708F40DC-5902-4255-8490-50F25722D242,"""deviceId""=>""708F40DC-5902-4255-8490-50F25722D...",2016-09-12 16:46:29.298499,270,0.0,2016-09-12 16:41:59.95211,f,0,NaN,NaN,f
5,0b2085e6-809c-4712-b764-93df77f0d008,APA91bFQ_g7jgYLvXi_8ds4cUcoP4nc5Tl33RdsmKH35st...,3,en,28800,301412293,5.0,1,SM-N9005,25f9591f-f3af-49e7-bd1d-e10eb386b2ec,"""deviceId""=>""fdfafafc64dd18b1"", ""deviceType""=>...",2016-09-16 05:49:42.212173,0,0.0,2016-05-11 09:50:49.951799,f,0,NaN,NaN,f