In [1]:
import pandas as pd 

df = pd.read_csv('GoJekPB.csv')
df.head()

  Agent Name                   Timestamp  Driver ID
0      Ricky   2017-05-08 11:30:03.05+07    1000094
1      Mamat  2017-05-14 23:16:35.368+07    1001006
2       Tono  2017-05-11 13:36:37.733+07    1000482
3       Bayu  2017-05-08 11:12:38.463+07    1000026
4       Lila  2017-05-09 11:48:13.452+07    1000181

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037 entries, 0 to 1036
Data columns (total 3 columns):
Agent Name    1037 non-null object
Timestamp     1037 non-null object
Driver ID     1037 non-null int64
dtypes: int64(1), object(2)
memory usage: 24.4+ KB

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Timestamp'].describe()

count                           1037
unique                          1035
top       2017-05-09 04:48:14.219000
freq                               2
first     2017-05-08 03:01:41.785000
last      2017-05-14 16:58:01.983000
Name: Timestamp, dtype: object

In [38]:
import matplotlib.pyplot as plt
df_a = df.groupby(['Agent Name']).apply(lambda x: x.count())
df_a.head()

            Agent Name  Timestamp  Driver ID
Agent Name
Bayu               125        125        125
Lila               119        119        119
Mamat              191        191        191
Ricky              365        365        365
Sarah              119        119        119