In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.bytes(5)

b'\xc51\n<\x7f'

In [15]:
pd.util.testing.rands(5)

'ghMBl'

In [19]:
[x.lower() for x in pd.util.testing.rands(10)]

['n', 'u', '5', 'e', 'n', '1', 'j', 'q', 'f', 'a']

In [47]:
df = pd.DataFrame(data=np.random.randn(5,5), index=[x.upper() for x in pd.util.testing.rands(5)], columns=['A','B','C','D','E'])
df

          A         B         C         D         E
N -0.149417 -0.267585 -0.195666  0.643372  0.132336
C  0.248253  1.240088 -2.668543 -0.717838  0.356217
G -1.734127  0.075938  0.705002  0.915514 -0.963954
C  1.756329  0.208102 -0.731109  0.599324 -1.008585
0 -0.341569 -2.130440 -0.209629 -0.443839 -0.110206

In [48]:
df.drop('E', axis=1, inplace=True)
df

          A         B         C         D
N -0.149417 -0.267585 -0.195666  0.643372
C  0.248253  1.240088 -2.668543 -0.717838
G -1.734127  0.075938  0.705002  0.915514
C  1.756329  0.208102 -0.731109  0.599324
0 -0.341569 -2.130440 -0.209629 -0.443839

In [51]:
df.loc['N']

A   -0.149417
B   -0.267585
C   -0.195666
D    0.643372
Name: N, dtype: float64

In [52]:
df.iloc[[1,2]]

          A         B         C         D
C  0.248253  1.240088 -2.668543 -0.717838
G -1.734127  0.075938  0.705002  0.915514

In [58]:
df[df>0].fillna(0)[['C']]

          C
N  0.000000
C  0.000000
G  0.705002
C  0.000000
0  0.000000

In [59]:
df.reset_index()

  index         A         B         C         D
0     N -0.149417 -0.267585 -0.195666  0.643372
1     C  0.248253  1.240088 -2.668543 -0.717838
2     G -1.734127  0.075938  0.705002  0.915514
3     C  1.756329  0.208102 -0.731109  0.599324
4     0 -0.341569 -2.130440 -0.209629 -0.443839

In [70]:
# index levels
outside = ['M','M','M','F','F','F']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index

[('M', 1), ('M', 2), ('M', 3), ('F', 1), ('F', 2), ('F', 3)]

In [72]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['F', 'M'], [1, 2, 3]],
           labels=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [77]:
df = pd.DataFrame(data=np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

            A         B
M 1  0.692025  0.580542
  2 -0.803370 -0.470301
  3  0.621503 -0.348494
F 1  0.459778 -1.164446
  2  0.578487  0.651331
  3 -0.013593 -0.786384

In [79]:
df.loc['M'].loc[1]

A    0.692025
B    0.580542
Name: 1, dtype: float64

In [80]:
df.loc['M']

          A         B
1  0.692025  0.580542
2 -0.803370 -0.470301
3  0.621503 -0.348494

In [81]:
df.index.names

FrozenList([None, None])

In [83]:
df.index.names = ['Gender', 'Num']
df

                   A         B
Gender Num
M      1    0.692025  0.580542
       2   -0.803370 -0.470301
       3    0.621503 -0.348494
F      1    0.459778 -1.164446
       2    0.578487  0.651331
       3   -0.013593 -0.786384

In [84]:
df.loc['F'].loc[2]['B']

0.65133103921913571

In [89]:
df.loc['M'] == df.xs('M')

        A     B
Num
1    True  True
2    True  True
3    True  True

In [91]:
df.xs(3,level='Num')

               A         B
Gender
M       0.621503 -0.348494
F      -0.013593 -0.786384

In [92]:
d = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}

In [94]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [96]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [103]:
df['B'].fillna(value=df['C'].mean(), inplace=True)
df

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  NaN  1.5  3

In [104]:
df = pd.DataFrame(data=np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

                   A         B
Gender Num
M      1   -0.702994 -0.245044
       2    0.122544 -0.112797
       3   -0.704842  0.812883
F      1    2.466476  2.805195
       2   -0.892980 -1.257735
       3    0.118356 -0.639985

In [106]:
df.groupby('Gender').std()

               A         B
Gender
F       1.723485  2.189303
M       0.477159  0.576423

In [112]:
df.groupby('Num').describe().transpose()

Num             1         2         3
A count  2.000000  2.000000  2.000000
  mean   0.881741 -0.385218 -0.293243
  std    2.241153  0.718084  0.582089
  min   -0.702994 -0.892980 -0.704842
  25%    0.089374 -0.639099 -0.499043
  50%    0.881741 -0.385218 -0.293243
  75%    1.674108 -0.131337 -0.087443
  max    2.466476  0.122544  0.118356
B count  2.000000  2.000000  2.000000
  mean   1.280075 -0.685266  0.086449
  std    2.156845  0.809593  1.027333
  min   -0.245044 -1.257735 -0.639985
  25%    0.517515 -0.971501 -0.276768
  50%    1.280075 -0.685266  0.086449
  75%    2.042635 -0.399032  0.449666
  max    2.805195 -0.112797  0.812883