In [15]:
import pandas as pd

df = pd.read_csv('GoJekPC.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 18 columns):
booking_id                  248 non-null int64
data_date                   248 non-null object
booking_date                248 non-null object
dispatch_time               248 non-null object
closing_time                248 non-null object
merchant_name               248 non-null object
customer_id                 248 non-null int64
customer_name               248 non-null object
driver_id                   248 non-null int64
driver_name                 248 non-null object
shopping_estimated_price    248 non-null int64
origin_longitude            248 non-null float64
origin_latitude             248 non-null float64
destination_longitude       248 non-null float64
destination_latitude        248 non-null float64
total_distance              248 non-null float64
origin_note                 248 non-null object
destination_address         248 non-null object
dtypes: float64(5), int64(4), object(9)
memory usage: 35.0+ KB

In [16]:
df.describe(include='all')

,booking_id,data_date,booking_date,dispatch_time,closing_time,merchant_name,customer_id,customer_name,driver_id,driver_name,shopping_estimated_price,origin_longitude,origin_latitude,destination_longitude,destination_latitude,total_distance,origin_note,destination_address
count,2.480000e+02,248,248,248,248,248,2.480000e+02,248,2.480000e+02,248,248.000000,2.480000e+02,2.480000e+02,248.000000,248.000000,248.000000,248,248
unique,NaN,7,248,248,248,1,NaN,46,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,2,50
top,NaN,09-Apr-17,2017-04-03 20:49:47+07,2017-04-09 02:13:06+07,2017-04-09 00:48:01+07,Warkop ABC,NaN,ani,NaN,HARRY,NaN,NaN,NaN,NaN,NaN,NaN,"Jl. Ciangsana, Jatiasih, Bekasi","Jalan Raya Sawangan, Pancoran MAS, Kota Depok"
freq,NaN,175,1,1,1,248,NaN,41,NaN,197,NaN,NaN,NaN,NaN,NaN,NaN,245,77
mean,8.318596e+08,NaN,NaN,NaN,NaN,NaN,2.477395e+08,NaN,3.646550e+08,NaN,36560.483871,1.069663e+02,-6.336410e+00,106.845470,-6.388165,20.107863,NaN,NaN
std,3.765402e+05,NaN,NaN,NaN,NaN,NaN,4.971410e+06,NaN,8.349551e+04,NaN,9639.471138,3.844690e-13,3.915888e-14,0.062404,0.031192,8.488010,NaN,NaN
min,8.302675e+08,NaN,NaN,NaN,NaN,NaN,2.302049e+08,NaN,3.644874e+08,NaN,7000.000000,1.069663e+02,-6.336410e+00,106.806359,-6.501923,0.460000,NaN,NaN
25%,8.320118e+08,NaN,NaN,NaN,NaN,NaN,2.497476e+08,NaN,3.646403e+08,NaN,40000.000000,1.069663e+02,-6.336410e+00,106.811746,-6.399323,23.720000,NaN,NaN
50%,8.320142e+08,NaN,NaN,NaN,NaN,NaN,2.498946e+08,NaN,3.646403e+08,NaN,40000.000000,1.069663e+02,-6.336410e+00,106.813652,-6.398721,24.270000,NaN,NaN
75%,8.320158e+08,NaN,NaN,NaN,NaN,NaN,2.498957e+08,NaN,3.646403e+08,NaN,40000.000000,1.069663e+02,-6.336410e+00,106.817260,-6.397670,24.580000,NaN,NaN
max,8.321842e+08,NaN,NaN,NaN,NaN,NaN,2.499086e+08,NaN,3.649943e+08,NaN,68000.000000,1.069663e+02,-6.336410e+00,107.017424,-6.241821,24.960000,NaN,NaN

In [137]:
# df.dispatch_time = df.dispatch_time.str.replace('\+07','')
# df.closing_time = df.closing_time.str.replace('\+07','')

In [162]:
df.dispatch_time = pd.to_datetime(df.dispatch_time)
df[df.driver_name == 'HARRY'].dispatch_time.diff().astype('timedelta64[s]').mean()

13.673469387755102

In [164]:
# df.closing_time = pd.to_datetime(df.closing_time, errors='raise')

In [11]:
import pandas as pd
df = pd.read_csv('GoJekPB.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037 entries, 0 to 1036
Data columns (total 3 columns):
Agent Name    1037 non-null object
Timestamp     1037 non-null object
Driver ID     1037 non-null int64
dtypes: int64(1), object(2)
memory usage: 24.4+ KB

In [13]:
df.describe(include='all')

       Agent Name                   Timestamp     Driver ID
count        1037                        1037  1.037000e+03
unique          6                        1035           NaN
top         Ricky  2017-05-11 23:18:09.061+07           NaN
freq          365                           2           NaN
mean          NaN                         NaN  1.000518e+06
std           NaN                         NaN  2.995004e+02
min           NaN                         NaN  1.000000e+06
25%           NaN                         NaN  1.000259e+06
50%           NaN                         NaN  1.000518e+06
75%           NaN                         NaN  1.000777e+06
max           NaN                         NaN  1.001036e+06